body {
  font-family: 'Karla', sans-serif;
  background-color: #F5F7FB;
}

main.main-section{
  width: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

header{
  width: 412px;
  height: 60px;
}

h1.title{
  color: #293264;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Karla", sans-serif;
}

p.game-description{
  color: #293264;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 50px;
  font-family: "Karla", sans-serif;
}

button{
  background-color: #4D5B9E;
  border-radius: 15px;
  border: 1px solid #4D5B9E;
  color: #F5F7FB;
  font-weight: 500;
  font-family: "Karla", sans-serif;
}

button.start-btn {
  width: 190px;
  height: 53px;
  font-size: 1.3rem;
}

section.quiz-section{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:flex-start;
}

section.quiz-section>div>h2{
  color: #293264;
  font-weight: 700;
  text-align: left;
}

div.answers-div{
  display: flex;
  justify-content: space-evenly;
}

div.answers-div>span{
  border-radius: 10px;
  border: 1px solid #293264;
  color: #293264;
  padding: 3px 25px;
}

hr{
  border: 0.8px solid #DBDEF0;
  margin: 25px auto;
  width: 400px;
}

button.check-btn{
  width: 120px;
  height: 35px;
  flex-shrink: 0;
  align-self: center;
}